
/.vscode
/.idea

/produced
/src/main/resources

/*.jar
/**/*.jar

/target/classes

/.counter

/.env
/.env*
/**/.env
/**/.env*

/node_modules
/**/node_modules

/*.log
/**/*.log

/log
/logs
/**/log
/**/logs

/.DS_Store
/**/.DS_Store


