
/.vscode/*.json
/.vscode/**/*.json

/.idea/*.xml
/.idea/**/*.xml

/pom.xml

/.env
/.env*
/**/.env
/**/.env*



/produced/
/src/main/resources/tmp/
/command/.counter
/command/envs_*
/target


/*.jar
/**/*.jar


/node_modules
/**/node_modules

/*.log
/**/*.log

/log
/logs
/**/log
/**/logs

/.DS_Store
/**/.DS_Store


